* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

:root {
  --primary-color: #ff4655;
  --white: #ffffff;
  --gradient-color: #ff7c7c;
  --border-color: #444444;
  --gray: #666666;
  --background-agent: #333333;
}